.container {
  /* 중앙 정렬 */
  align-items: center;
  display: flex;
  justify-content: center;

  /* 높이 지정 */
  min-height: 32rem;

  display: inline-block;
  background-color: green;
}
.draggable {
  /* 커서를 이동형식으로 주고, 위치를 절대형식으로 지정 */
  cursor: move;
  position: relative;
  user-select: none;

  /* 중앙 정렬 */
  align-items: center;
  display: flex;
  justify-content: center;

  /* 디자인 */
  border: 1px solid #cbd5e0;
  height: 8rem;
  width: 8rem;
}
