.board {
  position: relative;
  min-width: 500px;
  min-height: 500px;
}

.container {
  /* 중앙 정렬 */
  cursor: move;
  align-items: center;
  display: flex;
  justify-content: center;

  /* 높이 지정 */
  min-height: 32rem;
  min-width: 100px;

  display: inline-block;
  background-color: green;

  padding: 10px;

  /* 경고! : margin은 어느것도 주면 안됨 */
}

.draggable {
  /* 커서를 이동형식으로 주고, 위치를 절대형식으로 지정 */
  cursor: grab;
  position: relative;
  user-select: none;

  /* 중앙 정렬 */
  align-items: center;
  display: flex;
  justify-content: center;

  /* 디자인 */
  background-color: #f3f5f7;
  border: 1px solid #cbd5e0;
  border-radius: 5px;
  min-width: 8rem;
  padding: 10px;

  /* 경고! : margin은 어느것도 주면 안됨 */
}

.draggable > * {
  cursor: default;
}

.draggable > input[type="text"] {
  background-color: transparent;
  color: #222;
  border: none;
  cursor: text;
  margin-right: 10px;
}

.draggable.ghost {
  transform: rotate(10deg) translateY(5px);
}
.draggable.ghost::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform: rotate(-10deg);
  background-color: red;
  z-index: -1;
}

.draggable > input[type="text"]:hover {
  background-color: transparent;
  border-bottom: solid #aaa 1px;
  cursor: text;
}

.control {
  margin-bottom: 10px;
}
